#container {
        font-family: 'Inconsolata', monospace;
        text-align: center;
        width: 800px;
        margin: 160px auto;
    }
    table {
        width: 100%;
    }
    h1 {
        margin-top: 100px;
        font-size: 70px;
    }
    input[type="range"] {
        width: 200px;
        height: 50px;
    }
 .help h3{
    text-align: center;
    font-size: 35px;
    font-family: 'Autour One';
 }
 .help ol{
    text-align: center
    list-style-position: inside;
    font-family: 'Autour One';
    font-size: 19px;
 }
 .help li{
    text-align: center
    list-style-position: inside;
    font-family: 'Autour One';
    font-size: 19px;
 }